.unit {
  width: 100%;
  height: 100%;
  /*   border-radius: 50%; */
  /* border: 1px red solid; */
}

.main {
  width: 90vw;
  height: 70vh;
  background-color: white;
  color: blue;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
}
#exit{
  position:absolute;
  width:10px;
  height:10px;
  margin-right:0px;
  margin-left:95%;
  background-color:black;

}
